@font-face {
  font-family:'Pacifico';
  src: url('fonts/Pacifico-webfont.eot');
    src: url('fonts/Pacifico-webfont.eot?#iefix') format('embedded-opentype'), url('fonts/Pacifico-webfont.ttf') format('truetype');
  }

@font-face {
  font-family:'BebasNeue';
  src: url('fonts/BebasNeue-webfont.eot');
  src: url('fonts/BebasNeue-webfont.eot?#iefix') format('embedded-opentype'), url('fonts/BebasNeue-webfont.ttf') format('truetype');
  }

body {
background: #fff;
}

.wrapper {
margin: 0 auto;
width: 900px;
}

p {
font-family: Arial, helvetica, sans-serif;
color: #117a87;
font-size: 18px;
padding: 20px 0 20px 20px;
line-height: 27px;
}

h1 {
float: left;
font-family: 'BebasNeue', sans-serif;
font-size: 56px;
letter-spacing: 0px;
color: #fff;
line-height: 45px;
height: 120px;
width: 305px;
padding: 20px 0 0 40px;
background: url(img/titleimg.png) no-repeat;
}

h2 {
float: left;
padding: 15px 0 0 20px;
width: 130px;
height: 125px;
font-family: 'BebasNeue', sans-serif;
font-size: 25px;
letter-spacing: 1px;
line-height: 30px;
color: #13c1d6;
background: #12818e;
}

h3 {
font: normal 35px/40px 'BebasNeue',sans-serif;
letter-spacing: 1px;
color: #13c1d6;
padding: 15px 0px 10px 20px;
}

h4 {
font-family: Arial, helvetica, sans-serif;
color: #fff;
font-size: 25px;
padding: 0 0 20px 20px;
}

h5 {
font-family: Arial, helvetica, sans-serif;
color: #fff;
font-size: 18px;
padding: 0 0 5px 20px;
}

h6 {
font-family: 'BebasNeue', sans-serif;
color: #1d1d1d;
font-weight: normal;
font-size: 20px;
display: inline;
}

.header {
position:relative;
height:440px;
}

#ticket {
display:block;
position:absolute;
right:0px;
top:0px;
text-decoration:none;
padding: 30px 80px 25px 60px;
font:normal 35px/40px 'BebasNeue',sans-serif;
letter-spacing: 1px;
color: #fff;
background: #f84a4a url(img/buyarrow.png) 210px 37px no-repeat;
line-height: 20px;
}

	#ticket:hover {
	background: #db4141 url(img/buyarrow.png) 210px 37px no-repeat;
	}

#special {
font-size: 18px;
color: #f6aeae;
}
	
#intro {
background: #86f3d2 url(img/header_illo.png) 50% 0 no-repeat;
}

	#intro h3 {
	clear:both;
	background: url(img/transparentbg.png) repeat;
	color: #117c8a;
	}

#fancy {
font-family: 'Pacifico',serif;
font-size: 36px;
letter-spacing: 2px;
color: #12818e;
position: relative;
z-index: 2;
}

#non-fancy {
position: relative;
z-index: 1;
}

#headerinfo {
float: left;
padding-bottom: 20px;
height:200px;
width:215px;
margin:0px;
}

#headerinfo p {
width: 195px;
padding: 10px 0 0 20px;
}

	#headerinfo p {
	font-size: 25px;
	font-weight: bold;
	color: #117c8a;
	}
	
.smalltext {
text-transform: uppercase;
font-size: 10px;
padding: 0;
}

h3#speaker {
padding: 20px 0 15px 20px;
width: 430px;
color: #ea4646;
}

h3#speaker a, h3#speaker a:link, h3#speaker a:visited {
	color: #ea4646;
	text-decoration: none;
	}
	
h3#speaker a:hover, h3#speaker a:active {
	color: #DB4141;
	text-decoration: none;
	}


h3#speaker span.small-caps {
	font-size: 80%;
	}

#nav {
position: absolute;
bottom: 20px;
right: 0px;
}

	#nav li {
	float: left;
	}

	#nav li a {
	padding: 20px 0px 15px 0px;
	text-align: center;
	font-family: 'BebasNeue';
	font-size: 25px;
	text-decoration: none;
	letter-spacing: 1px;
	color: #fff;
	float: left;
	background: #117884;
	width: 150px;
	height: 25px;
	}

	#nav li:last-child{
	margin-left: 1px;
	width: 149px;
	}
	
	#nav li :hover{
	background: #0c5962;
	}

#about { clear:both; }

.first {
padding-bottom: 0;
}

.spacer {
clear: both;
}
  
.column {
padding-right: 20px;
border-right:1px dashed #fff;
float: left;
width: 259px;
}

p.column.last {
border-right: none;
width: 260px;
}

#schedule {
background: #12818e;
}

	#schedule h3 {
	float: left;
	color: white;
	}

	#schedule p {
	color: white;
	font-size: 18px;
	padding: 10px 0px 10px 20px;
	}
	
#schedule .top {
font-family: 'BebasNeue';
font-size: 35px;
padding: 15px 30px 15px 20px;
text-decoration: none;
letter-spacing: 1px;
float: right;
color: #0c5962;
text-decoration: none;
background: url(img/uparrow.png) 70px 20px no-repeat;
}

#schedule .top:hover {
color: #0b4e56;
}

#moderator {
float: left;
clear: both;
padding: 0 0 20px 20px;
margin-right: 20px;
font-family: Arial, helvetica, Sans-serif;
font-size: 16px;
color: white;
border-bottom: 1px dashed #0c5962;
width: 880px;
}

#eventlist {
clear: both;
}

	#eventlist li {
	padding: 20px 20px 20px 150px;
	border-bottom: 1px dashed #0c5962;
	}

.timeplace1 {
background-color: #106f7b;
height: 30px;
}

.timeplace2 {
background-color: #117a87;
height: 30px;
}

.time {
font-family: "BebasNeue";
font-size: 20px;
color: #fa8989;
float: left;
position: relative;
left: 20px;
top: 7px;
width: 30px;
}

.place {
font-family: "BebasNeue";
font-size: 20px;
color: #86f3d2;
float: left;
position: relative;
left: 150px;
top: 7px;
}

.minor {
height: 60px;
}

#schedule .authors {
padding: 10px 0 10px 0;
}

#schedule .authors li {
font-size: 12px;
font-family: Arial;
color: #fff;
padding: 0 0 10px 20px;
border: 0px;
line-height: 18px;
}

li#registration{
background: url(img/registration.png) 20px 50% no-repeat;
border-bottom: 0px dashed #0c5962;
}

li#keynote{
background: #106f7b url(img/keynote.png) 20px 50% no-repeat;
height: 150px;
margin-left: 0px;
border-bottom: 0px dashed #0c5962;
}

#web{
background: url(img/webplatforms.png) 20px 50% no-repeat;
}

#coffee{
background: url(img/coffee.png) 20px 50% no-repeat;
}

#code{
background: url(img/code.png) 20px 50% no-repeat;
}

#data{
background: url(img/data.png) 20px 50% no-repeat;
}

#lunch{
background: url(img/lunch.png) 20px 50% no-repeat;
}

#security{
background: url(img/security.png) 20px 50% no-repeat;
}

#design{
background: url(img/design.png) 20px 50% no-repeat;
}

#maps{
background: url(img/maps.png) 20px 50% no-repeat;
}

#projectmanagement{
background: url(img/projectmanagement.png) 20px 50% no-repeat;
}

li#happyhour{
background: url(img/happyhour.png) 20px 50% no-repeat;
border-bottom: 0px dashed #0c5962;
}

#map {
background: #13c1d6;
}

#map h3 {
	float: left;
	color: #fff;
	padding-bottom: 20px;
	}

#map .top {
font-family: 'BebasNeue';
font-size: 35px;
padding: 15px 30px 15px 20px;
text-decoration: none;
letter-spacing: 1px;
float: right;
color: #0c5962;
text-decoration: none;
background: url(img/uparrow.png) 70px 20px no-repeat;
}

#map .top:hover {
color: #0b4e56;
}

#location {
float: left;
margin-top: 80px;
padding: 10px 0 20px 20px;
color: #fff;
font-family: Arial, helvetica, sans-serif;
font-size: 18px;
line-height: 27px;
}

#map a {
color: #0c5962;
text-decoration: none;
font-weight: bold;
}

#map a:hover {
color: #0b4e56;
text-decoration: none;
}

#map .wrapper p {
font-size: 12px;
color: #fff;
padding: 10px 20px 0 0;
margin-top: 80px;
float: right;
}

#footer {
background: #4d4d4d;
}

#footerleft {
width: 449px;
border-right: 1px dashed #fff;
float: left;
}

#footerleft p {
float: left;
font-family: 'BebasNeue', sans-serif;
color: #1d1d1d;
font-size: 20px;
}

#ds {
margin: 0 10px 0 15px;
display:-moz-inline-stack;
display:inline-block;
zoom:1;
*display:inline;
text-indent: -5000px;
overflow: hidden;
background: url(img/ds_gray.png) 0 0 no-repeat;
height: 28px;
width: 139px;
vertical-align: top;
}

	#ds:hover {
	background: url(img/ds_white.png) 0 0 no-repeat;
	}
	
#p2 {
margin: 0 10px;
display:-moz-inline-stack;
display:inline-block;
zoom:1;
*display:inline;
text-indent: -5000px;
overflow: hidden;
background: url(img/phase2_gray.png) 0 3px no-repeat;
height: 25px;
width: 159px;
vertical-align: top;
}

	#p2:hover {
	background: url(img/phase2_white.png) 0 3px no-repeat;
	}

#footerright {
float: left;
}

#footerright p {
	float: left;
	font-family: 'BebasNeue', sans-serif;
	color: #1d1d1d;
	font-size: 20px;
	}

	#footerright a {
	margin-left: 10px;
	font-family: Arial, helvetica, sans-serif;
	font-weight: bold;
	color: #b3b3b3;
	text-decoration: none;
	font-size: 16px;
	vertical-align: top;
	}

		#footerright a:hover {
		color: #fff;
		}
		
#footer2 {
width: 100%;
background: #1d1d1d;
}

#footer2 p {
background: #1d1d1d;
float: left;
font-family: 'BebasNeue', sans-serif;
color: #b3b3b3;
font-size: 20px;
}

#blackmesh {
margin: 0 10px 0 15px;
display:-moz-inline-stack;
display:inline-block;
zoom:1;
*display:inline;
text-indent: -5000px;
overflow: hidden;
background: url(img/blackmesh.png) 0 0 no-repeat;
height: 28px;
width: 160px;
vertical-align: top;
}

#blackmesh:hover {
	background: url(img/blackmesh.png) 0 -30px no-repeat;
	}